/* Global CSS */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  /* Variables */
  --fluid-width: 90vw;
  --max-width: 1120px;
  --fixed-width: 600px;
  --nav-height: 6rem;
  --border-radius: 0.3rem;
  --letter-spacing: 1px;
  --transition: 0.2s ease-in-out all;

  /* Primary colors */
  --primary-50: #f5f8f5;
  --primary-100: #e7f1e8;
  --primary-200: #d0e2d3;
  --primary-300: #abcab0;
  --primary-400: #7eaa86;
  --primary-500: #5b8c64;
  --primary-600: #47724f;
  --primary-700: #3a5a40;
  --primary-800: #324937;
  --primary-900: #2a3d2e;
  --primary-950: #132016;

  /* Shades of grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  --background-color: #e4ede4;
  --text-color: var(--grey-900);
  --background-secondary-color: #fff;
  --text-secondary-color: var(--grey-500);
}

.privacy-policy-link {
  color: #abcab0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto;
  font-weight: 500;
  line-height: 1;
  background: var(--background-color);
}

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--background-secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  line-height: 1.5;
}
.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius);
  background: var(--primary-50);
  border: 1px solid var(--primary-200);
  color: var(--text-color);
}
.form-input,
.form-select,
.form-button {
  height: 35px;
}
.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem);
}

h2 {
  font-size: clamp(1.75rem, 4vw, 4rem);
}

h3 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

h4 {
  font-size: clamp(1.25rem, 2vw, 2rem);
}

h5 {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.button {
  cursor: pointer;
  color: white;
  background: var(--primary-600);
  border-radius: var(--border-radius);
  letter-spacing: var(--letter-spacing);
  padding: 0.6rem 0.1rem;
  transition: var(--transition);
  display: inline-block;
  border: transparent;
  box-shadow: var(--shadow-1);
}
.button::first-letter {
  text-transform: capitalize;
}
.button:hover {
  background: var(--primary-800);
  box-shadow: var(--shadow-3);
}
.button-block {
  width: 100%;
}
